[project]
	description = Website repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mark Davis (markdav)
[access "refs/for/refs/*"]
	read = group user/Mark Davis (markdav)
	push = group user/Mark Davis (markdav)
	label-Code-Review = -2..+2 group user/Mark Davis (markdav)
	label-Verified = -1..+1 group user/Mark Davis (markdav)
	rebase = group user/Mark Davis (markdav)
	removeReviewer = group user/Mark Davis (markdav)
	submit = group user/Mark Davis (markdav)
[access "refs/heads/*"]
	read = group user/Mark Davis (markdav)
	create = group user/Mark Davis (markdav)
	push = +force group user/Mark Davis (markdav)
	pushMerge = group user/Mark Davis (markdav)
[access "refs/tags/*"]
	push = +force group user/Mark Davis (markdav)
	pushTag = group user/Mark Davis (markdav)
	pushSignedTag = group user/Mark Davis (markdav)
